.Highchart{
    width:575px;
}

#Card{
    display: inline-block;
    margin: 15px;
    border: black;
    border-style: solid;
    width:575px;
}

#CardResponsavel{
    display: inline-block;
    margin: 15px;
    border: black;
    border-style: solid;
    border-width: 1px;
}

#alertbtn{
    margin-left: 2px;
}
.alert-success{
   background-color: #4edb79; 
}

.alert-danger{
    background-color: #FFDAE9;
}

.card-body{
    padding: 15px;
}